#gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: black;
}

#bg {
    width: 1900px;
    height: 1000px;
}

#threat {
    margin-top: 2vw;
}

#announcement {
    color: white;
    display: none;
    font-family: 'Roboto';
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    color: #000;
    left: 30vw;
    top: 3vw;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    width: 40%;
}

.modal-content {
    background-color: black;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content2 {
    background-color: black;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}