#gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: black;
}

#desktop {
    width: 1900px;
    height: 1050px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    height: 50%;
}

.modal-content {
    background-color: white;
    margin: 19% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 40%;
    height: 50%;
}

.modal-content-2 {
    position: absolute;
    top: -26.75vw;
    left: -18vw;
    background-color: black;
    margin: 19% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 103%;
    height: 124%;
}

.back {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.back:hover,
.back:focus {
    color: rgb(25, 6, 192);
    text-decoration: none;
    cursor: pointer;
}