#gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgb(0, 0, 0);
}

#theatre {
    width: 1900px;
    height: 1050px;
}