#gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: black;
}

#library {
    width: 1900px;
    height: 1050px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
}

.modal-content {
    background-color: black;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    /* This avoids image to go off the container */
    height: 600px;
}

.img-responsive {
    width: 800px;
    height: 643px;
    position: absolute;
    left: 25%;
    top: 5%;
    margin-top: -25px;
    margin-left: -25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}