#gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgb(0, 0, 0);
}

#theatre {
    width: 1900px;
    height: 1050px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    left: 600px;
    top: 270px;
    width: 700px;
}

.doorModal {
    display: none;
    position: fixed;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    left: 450px;
    top: 75px;
    width: 1000px;
}

.modal-content {
    background-color: rgb(0, 0, 0);
    margin: 7% auto;
    padding: 1px;
    border: 1px solid #888;
    width: 65%;
    height: 200px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}